@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all linear 0.2s;
}

body{
    font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
}

.container{
    width: 80%;
    max-width: 1170px;
    min-height: 300px;
    margin: auto;

}

.title{
    text-align: center;
}
h4{
    font-size: 24px; 
    font-weight: 500;
    color: #000000b4;
}

h2{
    font-size: clamp(1px, 9vw, 48px);
    font-weight: 500;
    margin-top: 80px;
}

.info{
    width: 95%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
}



.logo{
    width: 120px;
    height: 110px;
    margin-top: -20px;
    /* border: 2px solid black; */
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 20px;
}

.logo img{
  border-radius: 20px;
}

.info:nth-child(odd) .logo{
    float: left;
    margin-left: -20px;
    margin-right: 20px;
}

.info:last-child{
  margin-bottom: 120px;
}

.info:nth-child(even) .logo{
    float: right;
    margin-right: -20px;
    margin-left: 20px;
}

.logo + p{
    margin: 20px;
    /* font-family: sans-serif; */
    font-size: 1.1em;
}

.logo + p::first-letter{
    font-size: 3em;
}

.logo:hover{
    width: 122px;
    height: 112px;
}

.logo img:hover{
  width: 122px;
    height: 112px;
}

.info:hover{
  width: 96%;
}

@media screen and (min-width: 767px) {
    .info{
        width: 70%;
    }

    .info:hover{
      width: 71%;
    }

    .info:nth-child(odd){
        float: left;
    }

    .info:nth-child(even){
        float: right;
    }
}



/* Nav-Bar */

.nav {
    padding: 20px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
    width: 100%;
    overflow: hidden;
    display: flex;
    z-index: 1000;
    justify-content: space-between;
  }
  
  .nav-logo {
    float: left;
    height: auto;
    padding-left: 10px;
    /* padding: 20px; */
  }
  
  .nav-logo img {
    height: 40px;
  }
  
  .nav-logo img:nth-child(2) {
    height: 60px;
    display: none;
  }
  
  .nav-bar {
    padding: 10px 20px;
  }
  
  .nav-bar a {
    font-size: 18px;
    font-weight: 700;
    padding: 12px 14px;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  .nav-bar a:hover {
    transition: 0.2s ease-in-out;
    color: #414ad7;
  }
  
  .nav-terms-policy {
    padding: 10px 20px;
  }
  
  .nav-terms-policy a {
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid #414ad7;
    padding: 12px 14px;
    letter-spacing: 1px;
    background-color: #414ad7;
    color: white;
    text-decoration: none;
  }
  
  .nav-terms-policy a:hover {
    transition: 0.2s ease-in-out;
    color: #414ad7;
    background-color: transparent;
  }



/*responsive*/

.nav-logo img {
  padding-left: 10px;
  height: 65px !important;
  padding-bottom: 10px;
}

.nav-logo img:nth-child(2) {
  padding-left: 10px;
  height: 65px !important;
  display: none;
  padding-bottom: 10px;
}
@media (max-width: 980px) {
  .nav-logo img:nth-child(2) {
    height: 58px;
    margin-left: -4px;
    display: inline-block;
  }
}

@media (max-width: 420px) {
  .nav-terms-policy {
    padding: 0 0;
  }
}


/* Down-Nav */

.down-nav {
  display: none;
}
@media screen and (min-width: 980px) {
  .nav-terms-policy {
    padding: 12px 14px;
  }
}
@media (max-width: 980px) {
  .nav-bar {
    display: none;
  }
  .nav-logo img {
    height: 40px;
    display: none;
  }
  .nav-logo img:nth-child(2) {
    height: 40px;
    margin-left: 10px;
    display: inline-block;
  }
  .down-nav {
    padding: 5px;
    width: 100%;
    height: 45px;
    background-color: #202020;
    position: fixed;
    z-index: 1000;
    display: flex;
    bottom: 0;
    justify-content: center;
  }
  .down-nav a {
    margin: 0 5vw;
  }
  .down-nav a i {
    font-size: 25px;
    color: white;
  }
  .nav-terms-policy a {
    font-size: 12px;
    font-weight: 600;
    padding: 8px 12px;
  }
  .nav-terms-policy a i:hover {
    transition: 0.2s ease-in-out;
  }
  
}




/***** FOOTER ****/
.footer{
  width: 100%;
  background-color: #24262b;
  padding: 70px 0;
  height: max-content;
  font-family: "poppins", sans-serif;

}

.rows {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 20%;
  height: max-content;
}

.footer-col div img {
  width: 100%;
  height: auto;
}

.footer-col h4 {
  font-size: 20px;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 500;
  position: relative;
  border-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.footer-col h4 span {
  padding-bottom: 3px;
  border-bottom: 3px solid #4a47a3;
}

.footer-col .company{
  display: flex; 
}

.footer-col .company ul {
  padding: 0 12px;
  margin: 0;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.left-align {
  text-align: left !important;
  padding-left: 10px;
}

.footer-col .company ul li , .footer-col .company ul li a {
  text-align: left; 
}

.footer-col ul li a,
.footer-col ul li {
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
  text-align: center;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.contact-us{
  padding:0 10px;
  margin:0;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.email a {
  text-align: left !important;
}

.footer-col ul li a img {
  font-size: 20px;
  width: 100px;
}

.image-list ul{
  padding: 0!important;
}

.social-list{
  display: flex; 
  flex-direction: column;
}

img, svg{
  vertical-align:  middle;
}

.copyrights{
  text-align: center !important; 
  margin-top: 20px !important; 
  width: 100% !important;
}

.footer-col .social-links {
  text-align: center;
}

.footer-image{
  text-align: center;
}

.footer-image img{
  text-align: center !important; 
  height:auto !important; 
  margin-top:15px !important;
}

.copyrights p{
  color:aliceblue !important; 
  font-size:12px !important;
}